@media screen and (min-width:1363px){
  header>div{
    width:1363px; }
  #box02>div{
    width:1107px;}
  #box03>div{
     width:1237px;}
  #gallery{
    width:1320px;}
  #box05>div{
     width:1124px;}
}
/*1320  1237 1124  1107 */
@media screen and (max-width:1362px) and (min-width:1320px){
  #box02>div{
    width:1107px;}
  #box03>div{
     width:1237px;}
  #gallery{
    width:1320px;}
  #box05>div{
     width:1124px;}
}
@media screen and (max-width:1319px) and (min-width:1237px){
  #box02>div{
    width:1107px;}
    #box03>div{
      width:1237px;}
  #box05>div{
     width:1124px;}
}
@media screen and (max-width:1236px) and (min-width:1124px){
  #box02>div{
    width:1107px;}

  #box05>div{
     width:1124px;}
}
@media screen and (max-width:1123px) and (min-width:1107px){
  #box02>div{
    width:1107px;}
}
@media screen and (max-width:1106px) and (min-width:980px){


  /*  */
}

@media screen and (max-width:979px) and (min-width:580px){
/* tablet 작업 */
article{
  padding:60px 0 60px;
}
/* header */

header>div{
  display:block;
}
header>.btn{
  display:block;
}
header>div>h1{
  text-align:center;
}
header>div>nav{
  position:fixed;
  /* left:0;  */
  left:-400px;
  top:0;
  width:400px;
  height:100%;
  background-color:rgba(0,0,0,0.9);
  z-index:100;
  padding:13.32vh 0 0;
}
nav>ul{
  display:block;
  border-top:1px solid #fff;
  width:80%;
  margin: 0 auto;
}
nav>ul>li{
  margin:0 0;
  border-bottom:1px solid #fff;
}
nav>ul>li>a{
  display:block;
  line-height:12.21vh;
  text-align:center;
}
#box01>h3{
  width:100%;
  border:none;
  left:0; 
  top:50%;
  margin:-129px 0 0 0;
}
/* box02 */

#box02>div{
  width:88vw;
}
#box02 .box{
  display:block;
}
#box02 .box>figure{
  width:auto;
  text-align:center;
  margin-bottom:45px;
}
#box02 .box>div{
  width:auto;
}
#box02 .box>div p.title{
  text-align:center;
}
#box02 .box>div p.text{
  text-align:justify;
}

#box03>div{
  width:88vw;
}
#box03 .box{
  display:block;
}
#box03 .box>div{
  /* width:100%; */
  width:auto;
  margin-bottom:50px;
}
#box03 .box>ul{
  width:580px;
  margin: 0 auto;
  }
  #box03 .box>ul>li{

    width:80px; height:80px;
    border:2px solid #cbc6c5;
    box-sizing:border-box;
    margin:0 8px 16px;
    float:left;
    text-indent: -9999px;
    background:url('../images/icon/html5.png') no-repeat center;
  }

/* #box04 */
#gallery{
  width:100%;

}
#show{
   width:84vw;
   margin: 0 auto;
   overflow:hidden;
}
#all{
  width:168vw;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  /* margin: 0 auto; */
}
#all>figure{
  width:28vw;
  margin-bottom:39px;
  text-align:center;
}
#all>figure>img{
  width:24vw;
  margin-bottom:0;
  margin: 0 auto 20px;}
#gallery>p{
  display:block;
 
  }
#gallery>.prev{


  /* left:;  */
 
  }
#gallery>.next{
  /* right:;  */
  }


  #box05{

  }
  #box05>div{
    width: auto;

  }
  #box05 .box{
    justify-content: center;
  }
  #box05 .box>div{

    width:auto;
    text-align: center;
  }
  #box05 .box>div>dl{ 
    display: none;

  }
  #box05 .box>form{
    width:76vw;
    margin-right:0;

    padding:4vw;
    text-align: left;
  }
  #box05 form ul>li{
    margin-bottom:2vw;
  }

aside{display:none;}
/*  */
}
#modal{
  /* display: none; */
}
#modal>p{
  position: absolute;
  width: 4vw;
  height: 4vw;
  right: 4vw;
  top: 2vh;
  background-color: red;
}
#modal section{
  width:84vw;
  height: 88vh;
  left:8vw; top:8vh;
  margin: 0 0 0 0;
  background-color:#fff;
  padding:2vh 4vw;
  box-sizing:border-box;
}

#modal section>h3{
  font-size: 6vh;
  line-height: 6vh;
  margin-bottom:2vh;
  text-align:center;

}
#modal section>div{
  /* background-color: pink; */
  display:block;
}
#modal section>div>figure{
  width:auto;
  height:28vh;
  overflow:hidden;
  margin-bottom:2vh;
}
#modal section>div>figure>img{
  width: 100%;
}


#modal section>div>dl{
  width:auto;
}
#modal section>div>dl>dt{
  width: auto;
  clear: none;
  float: none;
  padding: bottom 0;
  border-bottom:none;
  margin-bottom:2vh;
  font-size: 2vh;
  font-weight: bold;
}
#modal section>div>dl>dd{
  width: auto;
  float: none;
  padding-bottom:0;
  border-bottom:1px solid #666;
  margin-bottom:2vh;
  padding-bottom:1vh;
  padding-left:4vw;
}





@media screen and (max-width:579px){

  article{
    padding: 45px 0 45px;
  }
  div>h3{
    font-size: 30px;
    margin-bottom: 30px;

  }
  div p.title{
    font-size: 25px;
    line-height: 44px;
    margin-bottom: 30px;
  }
  /* header */

header{
  padding: 15px 0;
}
header>div{
  display: block;
}
header>.btn{
  display: block;
  right: 20px;
  top: 50%;
  margin-top: -16px;
}
header>div>h1{
  text-align: center;
}
header>div>nav{
  position: fixed;
  width: 100%; height: 100%;
  left: -100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}
nav>ul{
  width: 80%;
  display: flex;
  flex-direction: column;
  padding-top: 13.32vh;
  margin: 0 auto;
}
nav>ul>li{
  margin: 0 0;
}
nav>ul>li>a{
  text-align: center;
  line-height: 12.21vh;
  border-bottom: 1px solid #fff;
  display: block;
}
nav>.close{
  display:block;
}
#box01>h3{
  font-size:45px;
  line-height:55px;
  text-align:center;
  width:100%;
  border:none;
  position:absolute;
  left:0; top:50%;
  /* height 110이니까 */
  margin:-55px 0 0 0;
  text-align: center;
}
#box02>div{
  display: block;
  width:92vw/* 1107px */;
  margin: 0 auto;
  /* background-color:pink; */
}
#box02 .box>figure{
  margin: 0 auto;
  width:291px/* 387px */;
  margin-bottom: 15px;
}
#box02 .box>div{
  width:92vw/* 655px */;
}
#box02 .box>figure>img{
  width:291px/* 387px */;
}
#box02 .box>div p.text{
  text-align: left;
  display: block;
  width: 92vw;
  margin: 0 auto 20px;
}
#box02 .box>div p.title{

  display: block;
  width: 76vw;
  margin: 0 auto 40px;
  text-align:center;
}
#box02 .box>div p.btn{
  text-align:center;
}

                                      /* box03 */


#box03>div{
  width:98%/* 1237px */;
  margin:0 auto;
  /* background-color:aquamarine; */
}
#box03 .box{
  display:block;
  justify-content: space-between;
}
#box03 .box>div{
  width:auto/* 511px */;
}
#box03 .box>div p.title{
  text-align: center;
  margin-bottom: 20px;
}
#box03 .box>div p.text{
  margin-bottom: 20px;
  text-align: left;
}
#box03 .box>ul{
width:84vw/* 582px */;
margin: 0 auto;
overflow:hidden;
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
}
#box03 .box>ul>li{
  width:14vw; height:14vw;
  border:2px solid #cbc6c5;
  margin:0 1.4vw 2.8vw;
  
  float:none;
  background:url('../images/icon/html5.png') no-repeat center;
  box-sizing: border-box ;
}

                                    /* box04 */

#box04{
  background-color:#c3c3c3;
}
#box04>h3{
  color:#fff;
  text-align:center;
}
#box04>.title{
  width: 60vw;
  margin: 0 auto 40px;
  color:#fff;
  text-align:center;

}
#box04>.text{
  width:92vw;
  margin:0 auto 25px;
  color:#fff;
}
#box04>ul{
  display:flex;
  justify-content: center;
  margin-bottom:30px;
}
#box04>ul>li{
  padding: 0 26px;
  border-left:1px solid #fff;
}
#box04>ul>li:first-child{
  border-left:none;
}
#box04>ul>li>a{
  color:#fff;
  font-size:18px;
  font-weight: bold;
}

#gallery{
  width:100%/* 1320px */;
  margin: 0 auto;
  position:relative;
  overflow: hidden;
}

#show{
  width: 74vw;
  margin: 0 auto;
  overflow: hidden;
}
#all{
  width: 222vw;
  /* margin: 0 auto; */
}
#all>figure{
  width:37vw/* 410px */;
}
#all>figure>img{
  width:33vw;
  margin-bottom:20px;}
#gallery>p{
  display:none;
  width:6vw;
  height:6vw;
  position:absolute;
  top:50%; 
  margin-top: -6vw;
  background-color:red;
  }
#gallery>.prev{
  width: 4.8vw; height: 4.8vw;
  left: 0;

display: block;

  /* left:;  */

  }
#gallery>.next{
  width: 4.8vw; height: 4.8vw;
  right: 0;


display: block;

  /* right:;  */

  }
/* -----------------------box05------------------------- */
  #box05{
    background-color:#9c9491;
    color:#fff;
  }
  #box05 a{
    color:#fff;
  }
  #box05 h3{
    color:#fff;
  }
  #box05>div{
    width:98%/* 1124px */;
    margin: 0 auto;
    /* background-color:pink; */
  }
  #box05 .box{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-content: flex-start;
  }
  
  #box05 .box>div{
    width:490px;
  }
  #box05 .box>div .title{
    text-align: center;
    width: 68vw;
    margin: 0 auto;
    line-height: normal;
    margin-bottom: 40px;
  }
  #box05 .box>div .text{
    text-align: center;
    width: 88vw;
  }
  #box05 .box>div>dl{
    display: none;
  }
  #box05 .box>form{
    width:88vw;
    margin: 0 auto;
    padding:25px;
    box-sizing:border-box;
    background-color:#fff;
  }





#modal{
  /* display: none; */
}
#modal>p{
  position: absolute;
  width: 4vw;
  height: 4vw;
  right: 4vw;
  top: 2vh;
  background-color: red;
}
#modal section{
  width:84vw;
  height: 88vh;
  left:8vw; top:8vh;
  margin: 0 0 0 0;
  background-color:#fff;
  padding:2vh 4vw;
  box-sizing:border-box;
}

#modal section>h3{
  font-size: 6vh;
  line-height: 6vh;
  margin-bottom:2vh;
  text-align:center;

}
#modal section>div{
  /* background-color: pink; */
  display:block;
}
#modal section>div>figure{
  width:auto;
  height:28vh;
  overflow:hidden;
  margin-bottom:2vh;
}
#modal section>div>figure>img{
  width: 100%;
}


#modal section>div>dl{
  width:auto;
}
#modal section>div>dl>dt{
  width: auto;
  clear: none;
  float: none;
  padding: bottom 0;
  border-bottom:none;
  margin-bottom:2vh;
  font-size: 2vh;
  font-weight: bold;
}
#modal section>div>dl>dd{
  width: auto;
  float: none;
  padding-bottom:0;
  border-bottom:1px solid #666;
  margin-bottom:2vh;
  padding-bottom:1vh;
  padding-left:4vw;
}











  aside{display:none}
}